<div class="view">
  <input class="toggle" type="checkbox" ng-model="completed"
    ng-change="directive.onChange(this)" />
  <label ng-dblclick="directive.onEditStart(this)" ng-show="!editing">{{title}}</label>
  <button class="destroy" ng-click="directive.onRemove(this)"></button>
</div>
<form ng-submit="directive.onEditEnd(this)">
  <input class="edit" ng-trim="false" ng-model="title" 
    ng-blur="directive.onEditEnd(this)" 
    todo-escape="directive.onEditCancel(this)" todo-focus="editing" ng-show="editing" />
</form>
